<div class="form-container">
  <form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input required type="text" name="username" class="username" />
      </div>
    </div>
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input required type="text" name="username" class="username" />
      </div>
    </div>
    <div class="field">
      <label class="label">First Name:</label>
      <div class="control">
        <input required type="text" name="username" class="username" />
      </div>
    </div>
    <div class="field">
      <label class="label">Surname: </label>
      <div class="control">
        <input required type="text" name="username" class="username" />
      </div>
    </div>
    <div class="field">
      <label class="label">Password: </label>
      <div class="control">
        <input required type="text" name="username" class="username" />
      </div>
    </div>
    <div class="field">
        <label class="label">Confirm Password: </label>
        <div class="control">
          <input required type="text" name="username" class="username" />
        </div>
      </div>
  </form>
</div>
